img {
	width: 150px;
	height: 150px;
	position: absolute;
}
#sky {
	background-color: skyblue;
	width: 100%;
	height: 300px;
}
#sea {
	background-color: royalblue;
	width: 100%;
	height: 300px;
}
#sun {
	animation: sunrise 2s infinite;
}
@keyframes sunrise{
	0% {top:150px;}
	50%{left:300px;
	 top: 2px}
	100% {left:500px;
		top: 150px}

}